//*** front page title
.c-front-page-ttl
  +pc()
    padding-left 5px
  .c-front-page-ttl__ja
    margin-left -4px
    font-family $font-ja-m
    fontPc(33, 36, 30, 600)
    fontSp(33, 42, 85, 600)
  .c-front-page-ttl__en
    font-family $font-en-b
    font(18, 36, 90, 700)
    +sp()
      margin-top -2px

//*** front page brand message area
.p-front-page
  .brand-message__stmt__ttl
    .c-front-page-ttl
      .c-front-page-ttl__ja
        fontSp(27, 42, 110, 600)
