//*** header
// .b-hdr

//*** front page
.p-front-page
  .b-hdr
    opacity 0
    pointer-events none
    transition opacity .8s ease

.p-front-page.mvIsGone
  .b-hdr
    opacity 1
    pointer-events auto
